<!--<div class="panel panel-default">
  <div class="panel-body">
    <ul class="nav nav-pills">
      <li>
        <button (click)="onAddPanie()" class="btn btn-danger">
          <span class="glyphicon glyphicon-plus pull-right"></span>
        </button>
      </li>
      <li [ngClass]="c.name==panieService.currentPanieName?'active':''" *ngFor="let c of caddyService.listCaddies">
        <a class="btn" (click)="onSelectCaddy(c)">{{c.name}}</a>
      </li>
    </ul>
  </div>
</div>
-->
  <div class="panel panel-heading">Panies
  <div class="panel-body">
    <table class="table table-striped" >
      <tr>
        <th>ID</th><th>Name</th><th>Quantity</th><th>Price</th>
      </tr>
      <tr *ngFor="let item of panieService.getCurrentPanie().items.values()">
        <td>{{item.product.id}}</td>
        <td>{{item.product.name}}</td>
        <td>{{item.product.quantity|number:'0.2'}}</td>
        <td>{{item.product.currentPrice|number:'0.2'}}</td>
      </tr>
      <tr>
        <td colspan="3">Total</td>
        <td>{{panieService.getTotal()}}</td>
      </tr>
    </table>
        <!--<td>
          <button class="btn btn-danger" (click)="onRemoveProductFromCaddy(item.value)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="3">Total</td>
        <td>{{getTotal()|number:'0.2'}}</td>
      </tr>
      
    <button class="btn btn-success" (click)="onNewOrder()">Commander</button>-->
  </div>
</div>